@import "tailwindcss";
@config "../../tailwind.config.ts";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer utilities {
  body {
    background-color: theme('colors.surface.muted');
    color: theme('colors.content.DEFAULT');
  }
}
